.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  display: grid;
  gap: 1rem;
}
.form button {
  width: 20rem;
  font-size: 1rem;
  padding: 0.5rem;
}
.input {
  width: 20rem;
  font-size: 1rem;
  padding: 0.5rem;
}
